.login-body{
    margin: 0;
    padding: 0;
    background-image: url('../images/login-background.jpg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.page-body{
    margin: 0;
    padding: 0;
    background-color: #e6e9f0;
}
.page-h1{
    color:#6713d2;
    font-size: 66px;
}

.page-h2{
    color: #97d9e1;
    font-size: 25px;
}
.functional-container{
    margin:0 auto;
    margin-top: 10px;
    padding: 20px 50px;
    border-radius:10px;
    width: 60%;
    text-align:center;
    background-color: white;
}
.blog-title{
    font-size: 150%;
    font-family: bold;
}
.blog-username{
    font-size:80%;
    font-style:oblique;
}
.blog-info{
    font-size:100%;
}
.blog-time{
    font-size:80%;
    font-style:oblique;
}
.page-container{
    margin:0 auto;
    margin-top: 15px;
    padding: 20px 50px;
    border-radius:10px;
    width: 60%;
    text-align:center;
    background-color: whitesmoke;
}

.search-div{
    margin:0 auto;
    margin-top: 15px;
    padding: 20px 50px;
    border-radius:10px;
    width: 60%;
    text-align:left;
    background-color: white;
}
.page-div{
    margin:0 auto;
    margin-top: 15px;
    padding: 20px 50px;
    border-radius:10px;
    width: 50%;
    text-align:left;
    background-color: white;
}

.profile-page-container{
    margin:0 auto;
    margin-top: 15px;
    padding: 20px 50px;
    border-radius:10px;
    width: 35%;
    text-align:center;
    background-color: white;
}
#loginDiv, #registerDiv{
    margin-top:200px;
    padding: 20px 50px;
    width: 400px;
    height: 300px;
    border-radius:10px;
    text-align:center;
    float: right;
}

#loginDiv h1, #registerDiv h1{
    color: #fbc2eb;
}

.input-text{
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid white;
    margin-top: 15px;
    background-color: transparent;
    color: white;
}
.input-btn{
    border: 0;
    width: 150px;
    height: 25px;
    color:black;
    margin-top: 15px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);;
}

.loginPage-switch{
    font-size: 18px;
    color: white;
    /*text-decoration: none;*/
}

.back-link{
    font-size: 30px;
}
